<p>angular-route works!</p>

{{users}}

<p [ngClass]="'h5 text-danger'">
    {{childToParent2}}
</p>

<app-angular-route-detail [child]="currentProduct" (newItemEvent)="childToParent($event)"></app-angular-route-detail>

<!-- <div *ngFor="let y of yayas" >
    {{y}}
</div> -->

<!-- <li *ngFor="let user of users; index as i; first as isFirst">
    {{i}}/{{users.length}}. {{user}} <span *ngIf="isFirst">default</span>
  </li> -->

<!-- <div class="card col-md-6 col-xl-4" *ngFor="let x of thailandAndJapan2">
    {{x}}
</div> -->

<!-- <div *ngFor="item of 10">
    {{item}}
</div> -->
