<p class="h1 text-red2 mt-5">component01 works!</p>
<h1 class="text-red mt-3 pb-5">component01 works!</h1>

<div class="container text-center">
    <div class="row border">
      <div class="col-12 col-md-3 col-xl-6">col</div>
      <div class="col-12 col-md-3 col-xl-6">col</div>
      <div class="col-12 col-md-3 col-xl-6">col</div>
      <div class="col-12 col-md-3 col-xl-6">col</div>
    </div>
    <div class="row border">
      <div class="col-8">col-8</div>
      <div class="col-4">col-4</div>
    </div>
</div>


<div class="container text-center">
    <div class="row border">
      <div class="col-12 col-md-3 col-xl-6">
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>  
      </div>
    </div>
</div>
