<p [ngClass]="'h1 fw-bold text-danger'">power-angular works!</p>

<div [ngClass]="'container'">
    <div [ngClass]="'row'">
        <div [ngClass]="'col-md-4'">
            <p [ngClass]="'h1 fw-bold text-danger'">power-angular works!</p>
        </div>
        <div [ngClass]="'col-md-4'">
            <p [ngClass]="'h1 fw-bold text-danger'">power-angular works!</p>
        </div>
        <div [ngClass]="'col-md-4'">
            <!-- 'font-size': '72px' || 'font-size.px': 72  -->
            <p [ngStyle]="{'font-weight' : 'bold', 'font-size': '72px'}">power-angular works!</p>
        </div>
    </div>
</div>

<app-angular-route-detail></app-angular-route-detail>
<app-angular-route-detail></app-angular-route-detail>
<app-angular-route-detail></app-angular-route-detail>
<app-angular-route-detail></app-angular-route-detail>

